@font-face {
    font-family: ChochoAura;
    src: url(./fonts/Chocho-Aura-Demo.ttf);
}

* {
    padding: 0;
    margin: 0;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
    padding: 80px;
    font-size: 18px;
}

h1,
h2 {
    font-family: ChochoAura;
}

h1 {
    font-size: 2.5rem;
    color: #464545;
    font-family: ChochoAura;
}

.menus {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menus button {
    position: relative;

    background: none;
    border: none;

    transition: all 0.2s;
}

.menus button:hover { 
    transform: scale(1.1);
    
}

.info {
    position: relative;
    top: 15px;
}

.foodies {
    position: relative;
    top: 15px;
}

/* Modals */

.food-menu {
    opacity: 0;
}

.food-menu[open] {
    opacity: 1;

    margin: auto;
    width: 50vw;
    height: 80vh;
    padding: 20px;
}

.foodies-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.close-menu {
    align-self: flex-end;
}


.bread {
    width: 150px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background: #B1B2B5;
    color: #464545;
    opacity: 0.9;
    
}